[Desktop Entry]
Name=OFW5

X-KDE-PluginInfo-Name=5th OpenFOAM Workshop 2010 at Chalmers
X-KDE-PluginInfo-Author=Henrik Rusche
X-KDE-PluginInfo-Email=h.rusche@wikki-gmbh.de
X-KDE-PluginInfo-License=LGPLv3
X-Ubuntu-Gettext-Domain=desktop_kdebase-workspace
